.activites {
  max-width: 360px;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  border-right: 1px solid #e0e0e0;
}

.activities__top {
  width: 100%;
  max-width: 360px;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
}

.activites__header {
  padding: 16px 16px 28px 16px;
  background-color: #f9f9fa;
  margin-bottom: 24px;
}
.activites__header h3 {
  font-size: 1.25em;
}

.activites_input {
  padding: 0px 16px;
}

.activites h4 {
  margin-top: 68px;

  padding: 16px;
}

.activites__list .list {
  overflow-y: scroll;
  height: 40vh;
}

.activity__button {
  padding: 11px 16px;
  cursor: pointer;
  background-color: white;
  outline: none;
  border: 1px solid #e0e0e0;
  font-size: 0.875;
  flex-grow: 1;
}

.activity__button:disabled {
  background-color: #c6c6c6;
}

.acitvity__button-container {
  width: 100%;
  max-width: 360px;

  display: flex;
  position: sticky;
  overflow-x: hidden;
  bottom: 0;
  left: 0;
  background-color: white;
  gap: 1em;
  padding: 1em;
  border-top: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

@media screen and (max-width: 480px) {
  .activites {
    max-width: 480px;
    width: 100%;
  }

  .activities__top {
    max-width: 480px;
  }

  .acitvity__button-container {
    max-width: 480px;
  }
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.delete-button:hover {
  background-color: #f9f9fa;
}
